* {
    font-family: Helvetica, arial;
    color: #D35400;
    padding: 0px;
    margin: 0px;
    font-size: 15pt;
}

h3 {
    font-size: 40px;
    font-weight: 700;
}

h5 {
    font-size: 26px;
    font-weight: 700;
}

body {
    font-family: helvetica, Arial;
    color: #C0CA33;
    background-color: #f5f5f5;
}

* h1 {
    margin: 0px;
}

section {
    display: flex;
    padding-bottom: 10px;
}

section p {
    text-align: center;
    vertical-align: middle;
}

section h1 {
    padding: 5px 5px 5px 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    vertical-align: middle;
}

.izquierda {
    background-color: white;
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 10px;
    border: 4px #566573 solid;
    position: inherit;
}

.derecha {
    background-color: white;
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 10px;
    border: 4px #566573 solid;
}

.derecha div {
    text-align: center;
}

.subderecha {
    display: block;
}

.busqueda {
    margin: 0px 15px 15px 15px;
}

.busqueda a {
    margin: 0px;
}

.busqueda a img {
    margin: 0px;
    width: 75px;
    height: 75px;
}

.pretable {
    margin: 0 auto 0 auto;
    overflow-y: auto;
    padding: 5px;
    display: inline-block;
}

.pretable div {
    text-align: center;
    vertical-align: middle;
    height: auto;
    overflow: hidden;
}

.transparent {
    width: 80px;
    height: 80px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#catpizza {
    content: url("/assets/img/comida/pizza.png");
}

.pretable div #cathamburguesa {
    content: url("../../assets/img/comida/burguer.png");
}

.pretable div #catbocadillo {
    content: url("../../assets/img/comida/bocadillo.png");
}

.pretable div #catensalada {
    content: url("../../assets/img/comida/ensalada.png");
}

.pretable div #catsopa {
    content: url("../../assets/img/comida/sopa.png");
}

.pretable div #catcarne {
    content: url("../../assets/img/comida/carne.png");
}

.pretable div #catpescado {
    content: url("../../assets/img/comida/pescado.png");
}

.pretable div #catpescado {
    content: url("../../assets/img/comida/pescado.png");
}

.pretable div #catpasta {
    content: url("../../assets/img/comida/pasta.png");
}

.pretable div #catkebab {
    content: url("../../assets/img/comida/kebab.png");
}

.pretable div #catsushi {
    content: url("../../assets/img/comida/japonesa.png");
}

.pretable div #catarroz {
    content: url("../../assets/img/comida/arroz.png");
}

.pretable div #catvarios {
    content: url("../../assets/img/comida/varios.png");
}

#catpizza:checked {
    content: url("/assets/img/comida/pizza2.png");
}

.pretable div #cathamburguesa:checked {
    content: url("../../assets/img/comida/burguer2.png");
}

.pretable div #catbocadillo:checked {
    content: url("../../assets/img/comida/bocadillo2.png");
}

.pretable div #catensalada:checked {
    content: url("../../assets/img/comida/ensalada2.png");
}

.pretable div #catsopa:checked {
    content: url("../../assets/img/comida/sopa2.png");
}

.pretable div #catcarne:checked {
    content: url("../../assets/img/comida/carne2.png");
}

.pretable div #catpescado:checked {
    content: url("../../assets/img/comida/pescado2.png");
}

.pretable div #catpescado:checked {
    content: url("../../assets/img/comida/pescado2.png");
}

.pretable div #catpasta:checked {
    content: url("../../assets/img/comida/pasta2.png");
}

.pretable div #catkebab:checked {
    content: url("../../assets/img/comida/kebab2.png");
}

.pretable div #catsushi:checked {
    content: url("../../assets/img/comida/japonesa2.png");
}

.pretable div #catarroz:checked {
    content: url("../../assets/img/comida/arroz2.png");
}

.pretable div #catvarios:checked {
    content: url("../../assets/img/comida/varios2.png");
}

.pretable div p {
    margin: 3px 2px;
}

@media (max-width: 480px) {
    section {
        display: block;
    }
    .izquierda .random a img {
        margin: 0 0 10px 37%;
    }
    .busqueda a img {
        margin: 5px;
    }
}

@media (min-width: 320px) {
    .resultadoshome h1 {
        font-size: 30px;
    }
    ingredientes h1 {
        font-size: 30px;
    }
    .izquierda .random a img {
        width: 100px;
        height: 100px;
    }
    .izquierda {
        margin: 5px;
    }
    .derecha {
        margin: 5px;
    }
}

@media (min-width: 481px) {
    .resultadoshome h1 {
        font-size: 20px;
    }
    .ingredientes h1 {
        font-size: 20px;
    }
    .izquierda .random a img {
        width: 150px;
        height: 150px;
        margin: 10px;
    }
    .izquierda {
        width: 200px;
        margin: 10px;
    }
    .derecha {
        margin: 10px;
    }
}

@media (min-width: 641px) {
    .transparent {
        width: 84px;
        height: 84px;
    }
    .resultadoshome h1 {
        font-size: 25px;
    }
    .ingredientes h1 {
        font-size: 25px;
    }
    .izquierda .random a img {
        width: 150px;
        height: 150px;
        margin: 10px;
    }
    .izquierda {
        width: 250px;
        margin: 10px;
    }
    .derecha {
        margin: 10px;
    }
}

@media (min-width: 961px) {
    .resultadoshome h1 {
        font-size: 30px;
    }
    .ingredientes h1 {
        font-size: 30px;
    }
    .transparent {
        width: 120px;
        height: 120px;
    }
    .izquierda .random a img {
        width: 200px;
        height: 200px;
        margin: 15px;
    }
    .pretable div {
        width: 125px;
        height: 170px;
        margin-bottom: 20px;
    }
    .pretable div p {
        margin-top: 5px;
    }
    .izquierda {
        width: 300px;
        margin: 15px;
        margin-bottom: 10px;
    }
    .derecha {
        margin: 15px;
        margin-bottom: 10px;
    }
}

@media (min-width: 1025px) {
    .resultadoshome h1 {
        font-size: 30px;
    }
    .ingredientes h1 {
        font-size: 30px;
    }
    .izquierda .random a img {
        width: 250px;
        height: 250px;
        margin: 20px;
    }
    .izquierda {
        width: 350px;
        /* margin: 20px; */
    }
    .derecha {
        margin: 20px;
    }
}

@media (min-width: 1281px) {
    .resultadoshome h1 {
        font-size: 30px;
    }
    .ingredientes h1 {
        font-size: 30px;
    }
    .izquierda .random a img {
        width: 300px;
        height: 300px;
        margin: 20px;
    }
    .izquierda {
        width: 350px;
        /*margin: 20px;*/
    }
    .derecha {
        margin: 20px;
    }
}