<div id="container">
  <div id="asks">
    <div id="topizq">
      <div class="pregunta">
        <h3>Cantidad</h3>
      </div>
      <div>
        <h5>Tenemos comidas para compartir</h5>
      </div>
      <div>
        <form #ask1="ngForm" name="cantidad">
          <input type="checkbox" name="compartir" id="compartir" ngModel>
          <label for="compartir">
            Para compartir
          </label>
          <br>
          <input type="checkbox" name="individual" id="individual" ngModel>
          <label for="individual">
            Individual
          </label>
        </form>
      </div>
    </div>
    <div id="topder">
      <div class="pregunta">
        <h3>Temperatura</h3>
      </div>
      <div>
        <h5>¿Prefieres una plato para entrar en calor o fresco?</h5>
      </div>
      <div>
        <form #ask2="ngForm">
          <input type="checkbox" name="caliente" id="caliente" ngModel>
          <label for="caliente">
            Caliente
          </label>
          <br>
          <input type="checkbox" name="frio" id="frio" ngModel>
          <label for="frio">
            Frío
          </label>
        </form>
      </div>
    </div>
    <div id="downder">
      <div class="pregunta">
        <h3>Sabor</h3>
      </div>
      <div>
        <h5>¿Te gusta el picante o eres mas de agridulce?</h5>
      </div>
      <div>
        <form #ask3="ngForm">
          <input type="checkbox" name="picante" id="picante" ngModel>
          <label for="picante">
            Picante
          </label>
          <br>
          <input type="checkbox" name="nadapicante" id="nadapicante" ngModel>
          <label for="nadapicante">
            Nada Picante
          </label>
          <br>
          <input type="checkbox" name="agridulce" id="agridulce" ngModel>
          <label for="agridulce">
            Agridulce
          </label>
        </form>
      </div>
    </div>
    <div id="downizq">
      <div class="pregunta">
        <h3>Alergias</h3>
      </div>
      <div>
        <h5>¿Tienes alguna intolerancia alimenticia?</h5>
      </div>
      <div>
        <form #ask4="ngForm">
          <input type="checkbox" name="gluten" id="gluten" ngModel>
          <label for="gluten">
            Gluten
          </label>
          <br>
          <input type="checkbox" name="lactosa" id="lactosa" ngModel>
          <label for="lactosa">
            Lactosa
          </label>
          <br>
          <input type="checkbox" name="frutossecos" id="frutossecos" ngModel>
          <label for="frutossecos">
            Frutos secos
          </label>
        </form>
      </div>
    </div>
  </div>
  <div id="askbutton">
    <a id="aresultados">
      <img src="../assets/img/icono/buscar.png" alt="busqueda" id="btnAdelante" (click)="onSelect(ask1, ask2, ask3, ask4)">
    </a>
  </div>
</div>