<div class="result"> 
  <div class="filtro">  
    <div id="divEscondido">
      <h2>Búsqueda avanzada</h2>
      <form action="#">
        <h6>Categorías</h6>
        <p *ngFor="let categoria of categorias">
          <input [(ngModel)]="categoria.checked" type="checkbox" class="transparent" name="categoria" [id]="categoria" [value]="categoria" (click)="onCheckboxChange(categoria,$event)" />
          <label [for]="categoria">{{categoria}}</label>
        </p>
        <h6>Cantidad</h6>
        <p *ngFor="let cantidad of cantidad">
          <input [(ngModel)]="cantidad.checked" type="checkbox" class="transparent" name="cantidad" required [id]="cantidad" [value]="cantidad" (click)="onCheckboxChange(cantidad,$event)"/> 
          <label [for]="cantidad">{{cantidad}}</label>
        </p>
        <div *ngIf="cantidad.invalid"> 
            Gender required. 
          </div>
        <h6>Preferencia</h6>
        <p *ngFor="let preferencia of preferencias">
          <input [(ngModel)]="preferencia.checked" type="checkbox" class="transparent" name="preferencia" [id]="preferencia" [value]="preferencia" (click)="onCheckboxChange(preferencia,$event)"/>
          <label [for]="preferencia">{{preferencia}}</label>
        </p>
      </form>
    </div>


  <div class="button"><button (click)=onFilter()>Submit</button></div>
  </div>

  <div class="resultados">
    <div class="divTable">
      <div class="divTableBody">
        <app-platos 

        *ngFor = "let plato of listaFiltrada"
        [plato] = "plato"
        ></app-platos> 
      </div>
      <!--<app-product-details></app-product-details>
      <router-outlet></router-outlet>-->   
    </div>
  </div>
</div>