#result{
	display: flex;
}

.cat{
	height: auto;
}

.button{
	height: 50px;
}

.filtro{
	left:0px;
	width: 200px;
	border: 4px #566573 solid;
	padding: 10px;
	  border-radius: 3px;
}

.resultados{
	vertical-align: top;
}	

#result input, #result select {
  cursor: pointer;
  color: #C0CA33;
  border: 1px #C0CA33 solid;
  padding-left: 3px;
}

#result .resultados {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  background-color: white;
}

.input-field{
	height: 100px;
}