* {
    font-family: Helvetica, arial;
    color: #D35400;
    padding: 0px;
    margin: 0px;
    font-size: 15pt;
}
h3 {
    font-size: 40px;
    font-weight: 700;
}

h5 {
    font-size: 26px;
    font-weight: 700;
}

body {
    font-family: helvetica, Arial;
    color: #C0CA33;
    background-color: #f5f5f5;
}

.home * h1 {
    margin: 0px;
}

.home section {
    display: flex;
    padding-bottom: 10px;
}

.home section p {
    text-align: center;
    vertical-align: middle;
}

.home section h1 {
    padding: 5px 5px 5px 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    vertical-align: middle;
}

.home .izquierda {
    background-color: white;
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 10px;
    border: 4px #566573 solid;
    position: inherit;
}

.home .derecha {
    background-color: white;
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 10px;
    border: 4px #566573 solid;
}

.home .derecha div {
    text-align: center;
}

.home .subderecha {
    display: block;
}

.home .busqueda {
    margin: 0px 15px 15px 15px;
}

.home .busqueda a {
    margin: 0px;
}

.home .busqueda a img {
    margin: 0px;
    width: 75px;
    height: 75px;
}

.home .pretable {
    margin: 0 auto 0 auto;
    overflow-y: auto;
    padding: 5px;
    display: inline-block;
}

.home .pretable div {
    text-align: center;
    vertical-align: middle;
    height: auto;
    overflow: hidden;
}

.home .transparent {
    width: 80px;
    height: 80px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#catpizzas {
    content: url("/assets/img/comida/pizza.png");
}

.home .pretable div #cathamburguesas {
    content: url("../../assets/img/comida/burguer.png");
}

.home .pretable div #catbocadillos {
    content: url("../../assets/img/comida/bocadillo.png");
}

.home .pretable div #catensaladas {
    content: url("../../assets/img/comida/ensalada.png");
}

.home .pretable div #catsopas {
    content: url("../../assets/img/comida/sopa.png");
}

.home .pretable div #catcarnes {
    content: url("../../assets/img/comida/carne.png");
}

.home .pretable div #catpescados {
    content: url("../../assets/img/comida/pescado.png");
}

.home .pretable div #catpescados {
    content: url("../../assets/img/comida/pescado.png");
}

.home .pretable div #catpastas {
    content: url("../../assets/img/comida/pasta.png");
}

.home .pretable div #catkebabs {
    content: url("../../assets/img/comida/kebab.png");
}

.home .pretable div #catsushis {
    content: url("../../assets/img/comida/japonesa.png");
}

.home .pretable div #catarrozes {
    content: url("../../assets/img/comida/arroz.png");
}

.home .pretable div #catvarios {
    content: url("../../assets/img/comida/varios.png");
}

#catpizzas:checked {
    content: url("/assets/img/comida/pizza2.png");
}

.home .pretable div #cathamburguesas:checked {
    content: url("../../assets/img/comida/burguer2.png");
}

.home .pretable div #catbocadillos:checked {
    content: url("../../assets/img/comida/bocadillo2.png");
}

.home .pretable div #catensaladas:checked {
    content: url("../../assets/img/comida/ensalada2.png");
}

.home .pretable div #catsopas:checked {
    content: url("../../assets/img/comida/sopa2.png");
}

.home .pretable div #catcarnes:checked {
    content: url("../../assets/img/comida/carne2.png");
}

.home .pretable div #catpescados:checked {
    content: url("../../assets/img/comida/pescado2.png");
}

.home .pretable div #catpescados:checked {
    content: url("../../assets/img/comida/pescado2.png");
}

.home .pretable div #catpastas:checked {
    content: url("../../assets/img/comida/pasta2.png");
}

.home .pretable div #catkebabs:checked {
    content: url("../../assets/img/comida/kebab2.png");
}

.home .pretable div #catsushis:checked {
    content: url("../../assets/img/comida/japonesa2.png");
}

.home .pretable div #catarrozes:checked {
    content: url("../../assets/img/comida/arroz2.png");
}

.home .pretable div #catvarios:checked {
    content: url("../../assets/img/comida/varios2.png");
}

.home .pretable div p {
    margin: 3px 2px;
}

@media (max-width: 480px) {
    .home section {
        display: block;
    }
    .home .izquierda .random a img {
        margin: 0 0 10px 37%;
    }
    .home .busqueda a img {
        margin: 5px;
    }
}

@media (min-width: 320px) {
    .home .resultadoshome h1 {
        font-size: 30px;
    }
    .home.ingredientes h1 {
        font-size: 30px;
    }
    .home .izquierda .random a img {
        width: 100px;
        height: 100px;
    }
    .home .izquierda {
        margin: 5px;
    }
    .home .derecha {
        margin: 5px;
    }
}

@media (min-width: 481px) {
    .home .resultadoshome h1 {
        font-size: 20px;
    }
    .ingredientes h1 {
        font-size: 20px;
    }
    .home .izquierda .random a img {
        width: 150px;
        height: 150px;
        margin: 10px;
    }
    .home .izquierda {
        width: 200px;
        margin: 10px;
    }
    .home .derecha {
        margin: 10px;
    }
}

@media (min-width: 641px) {
    .home .transparent {
        width: 84px;
        height: 84px;
    }
    .home .resultadoshome h1 {
        font-size: 25px;
    }
    .home .ingredientes h1 {
        font-size: 25px;
    }
    .home .izquierda .random a img {
        width: 150px;
        height: 150px;
        margin: 10px;
    }
    .home .izquierda {
        width: 250px;
        margin: 10px;
    }
    .home .derecha {
        margin: 10px;
    }
}

@media (min-width: 961px) {
    .home .resultadoshome h1 {
        font-size: 30px;
    }
    .home .ingredientes h1 {
        font-size: 30px;
    }
    .home {
        font-size: 1.25em;
    }
    .home .transparent {
        width: 120px;
        height: 120px;
    }
    .home .izquierda .random a img {
        width: 200px;
        height: 200px;
        margin: 15px;
    }
    .home .pretable div {
        width: 125px;
        height: 170px;
        margin-bottom: 20px;
    }
    .home .pretable div p {
        margin-top: 5px;
    }
    .home .izquierda {
        width: 300px;
        margin: 15px;
        margin-bottom: 10px;
    }
    .home .derecha {
        margin: 15px;
        margin-bottom: 10px;
    }
}

@media (min-width: 1025px) {
    .home .resultadoshome h1 {
        font-size: 30px;
    }
    .home .ingredientes h1 {
        font-size: 30px;
    }
    .home .izquierda .random a img {
        width: 250px;
        height: 250px;
        margin: 20px;
    }
    .home .izquierda {
        width: 350px;

    }
    .home .derecha {
        margin: 20px;
    }
}

@media (min-width: 1281px) {
    .home .resultadoshome h1 {
        font-size: 30px;
    }
    .home .ingredientes h1 {
        font-size: 30px;
    }
    .home .izquierda .random a img {
        width: 300px;
        height: 300px;
        margin: 20px;
    }
    .home .izquierda {
        width: 350px;

    }
    .home .derecha {
        margin: 20px;
    }
}