<div class="home">
    <section>
        <div class="izquierda">
            <div class="resultadoshome">
                <h1>
                    Recomendación del Chef
                </h1>
            </div>
            <div class="random">
                <a routerLink="/Preguntas">
                    <img src="../../assets/img/icono/olla.png" alt="" class="busqueda">
                </a>
            </div>
        </div>

        <div class="derecha">
            <div class="ingredientes">
                <h1>
                    ¡Sé lo que quiero!
                </h1>
                <div>
                    <label for="">Filtrar</label>
                    <input #searchBox type="text" id="search-box" value='' (keyup)="Escribir(searchBox.value)" />
                    <br/>
                </div>
                <div class="subderecha">
                    <div class="pretable" *ngFor="let categoria of filtrado">
                        <div>
                            <input #transparent name='categoria' [value]=categoria.value type="checkbox" class="transparent" [id]=categoria.id>
                            <p>{{categoria.value}}</p>
                        </div>
                    </div>
                    <div class="busqueda">
                        <a (click)="Hola()" routerLink="/Resultados">
                            <img src="../../assets/img/icono/buscar.png" alt="" class="imgBusqueda" id="btnBusqueda">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

<!-- <div>
    <label class="checkbox-inline">
      <input type="checkbox" name="favoriteColors" [(ngModel)]="obj.formData.op1"> Op1
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" name="favoriteColors" [(ngModel)]="obj.formData.op2"> Op2
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" name="favoriteColors" [(ngModel)]="obj.formData.op3"> Op3
    </label>
  
    <pre>{{formData|json}}</pre>
  </div> -->