<footer>
    <div class="enlaces">
        <div>
            <a routerLink="" class="nounderline">Contacto</a>
        </div>
        <div>
            <a routerLink="" class="nounderline">Condiciones de uso</a>
        </div>
        <div>
            <a routerLink="" class="nounderline">Sobre nosotros</a>
        </div>
    </div>
    <div class="rrssicon">
        <a href="https://www.facebook.com/ZampApp-192632914617935/">
            <img src="../assets/img/icono/facebook.png" alt="Facebook">
        </a>
        <a href="https://twitter.com/ZampappBeta">
            <img src="../assets/img/icono/twitter.png" alt="Twitter">
        </a>
        <a href="https://www.instagram.com/zampapp/?hl=es">
            <img src="../assets/img/icono/instagram.png" alt="Instagram">
        </a>
    </div>
</footer>