/*Empieza Diseño general*/

* {
    font-family: Helvetica, arial;
    padding: 0px;
    margin: 0px;
    font-size: 15pt;
}

h3 {
    font-size: 40px;
    font-weight: 700;
}

h5 {
    font-size: 26px;
    font-weight: 700;
}


/*Fin Diseño general*/


/* Empieza FOOTER*/

footer {
    /* position: fixed; */
    bottom: 0px;
    background: #ea5b0c;
    width: 100%;
    height: 60px;
}

footer>div {
    display: inline-block;
    line-height: initial;
}

footer>.enlaces {
    margin-left: 20pt;
    width: 400pt;
    background: #ea5b0c;
}

footer>.enlaces>div {
    display: inline-block;
    margin-left: 30pt;
    margin-top: 15pt;
}

footer>.enlaces>div>a {
    color: white;
}

.rrssicon {
    position: absolute;
    margin-top: 8pt;
    right: 20pt;
}

.rrssicon a {
    text-decoration-line: none;
    font-size: 0pt;
}

.rrssicon img {
    width: 25pt;
    margin-right: 5pt;
}

@media (max-width:400px) {
    footer {
        height: initial;
    }
    footer>.enlaces {
        margin-left: 0pt;
        width: 130pt;
        margin-top: 0pt;
    }
    footer>.enlaces>div {
        display: block;
        margin-left: 10pt;
        margin-top: 1pt;
        top: 0px;
    }
    footer>.enlaces>div:first-of-type {
        margin-top: 10px;
    }
    footer>.enlaces>div>a {
        font-size: 13pt;
    }
    .rrssicon {
        right: 0pt;
    }
    .rrssicon img {
        width: 18pt;
        margin-right: 5pt;
    }
}
/*Fin FOOTER*/