<header>
  <nav>
    <div class="logo">
      <a href="home.html">
        <img src="Librerias/Disenyo/img/logo.png" alt="ZAMPAPP">
      </a>
    </div>
    <div class="login">
      <div class="logchef">
        <a href="login chef">
          <img src="Librerias/Disenyo/img/icono/chef.png" alt="logchef">
        </a>
      </div>
      <div class="loguser">
        <a href="login user">
          <img src="Librerias/Disenyo/img/icono/perfil.png" alt="loguser">
        </a>
      </div>
      <div class="carro">
        <a href="carro">
          <img src="Librerias/Disenyo/img/icono/carrito.png" alt="carro">
        </a>
      </div>
    </div>
  </nav>
  <div class="margin"></div>
</header>