  <header>
    <div class="logo">
      <a routerLink="/Home">
        <img src="../assets/img/logo.png" alt="ZAMPAPP">
      </a>
    </div>
    <div class="login">
      <div class="logchef">
        <a routerLink="">
          <img src="../assets/img/icono/chef.png" alt="logchef">
        </a>
      </div>
      <div class="loguser">
        <a routerLink="">
          <img src="../assets/img/icono/perfil.png" alt="loguser">
        </a>
      </div>
      <div class="carro">
          <img src="../assets/img/icono/carrito.png" alt="carro" (click)="estadoCesta(true)">  
      </div>
    </div>
  </header>
<div id="headerrelleno"></div>
<app-cesta ></app-cesta>

<!-- *ngIf="cestadx" (mouseleave)="estadoCesta(false)" -->