<header>
  <nav>
    <div class="logo">
      <a routerLink="#" >
        <img src="../assets/img/logo.png" alt="ZAMPAPP">
      </a>
    </div>
    <div class="login">
      <div class="logchef">
        <a routerLink="#" >
          <img src="../assets/img/icono/chef.png" alt="logchef">
        </a>
      </div>
      <div class="loguser">
        <a routerLink="#" >
          <img src="../assets/img/icono/perfil.png" alt="loguser">
        </a>
      </div>
      <div class="carro">
        <a routerLink="#" >
          <img src="../assets/img/icono/carrito.png" alt="carro">
        </a>
      </div>
    </div>
  </nav>
  <div class="margin"></div>
</header>