<section class= "detalles">
  <div *ngIf=plato class="container sectplato">

    <div class="sizquierda">
      <h3>{{ plato.nombre }}</h3>
      <img [src]="plato.foto" [alt]="plato.nombre" class="img-principal">
      <h5>Valoración:{{plato.valoracion}}</h5>
    </div>
    <div class="sderecha">
      <div class="caracteristicas">
        <h5>Restaurante:</h5>
        <p>{{ plato.restaurante }}</p>
      </div>
      <div class="caracteristicas">
        <h5>Descripción: </h5>
        <p>{{plato.descripcion}}</p>
      </div>
      <div class="caracteristicas">
        <h5>Precio: </h5>
        <p>{{plato.precio}}€</p>
      </div>
      <div class="caracteristicas">
        <h5>Ingredientes: </h5>
        <div *ngFor="let ing of plato.ingredientes">
          <input type="checkbox">
          <label for="">{{ing| uppercase}}</label>
        </div>
      </div>
      <label>Cantidad</label>
      <input type="number" name="quantity" min="1" max="10">
      <button>Comprar</button>
    </div>
  </div>
  <div class="sugerencias">
    <div class="sectplatosimilares">

      <h5>Platos similares:</h5>
      <div>
        <img class="imgsmall" src="https://images.telepizza.com/vol/es/images/content/productos/pcar_c.png">
        <img class="imgsmall" src="https://images.telepizza.com/vol/es/images/content/productos/pcar_c.png">
        <img class="imgsmall" src="https://images.telepizza.com/vol/es/images/content/productos/pcar_c.png">
      </div>
    </div>
    <div class="sectplatosrestaurante">
      <h5>Platos del mismo restaurante:</h5>
      <div>
        <img class="imgsmall" src="https://images.telepizza.com/vol/es/images/content/productos/pcar_c.png">
        <img class="imgsmall" src="https://images.telepizza.com/vol/es/images/content/productos/pcar_c.png">
        <img class="imgsmall" src="https://images.telepizza.com/vol/es/images/content/productos/pcar_c.png">
      </div>
    </div>
    <div class="publicidad">
      publicidad del restaurante
    </div>
  </div>

</section>