<div *ngIf=plato class="container">
  <h2>{{ plato.nombre }}</h2>
  <div class="row">
    <div class="col s5">
      <div>
        <img [src]="plato.foto" [alt]="plato.nombre" class="responsive-img">
      </div>
    </div>

    <div class="col s3">
      <h3>Restaurante:</h3>
      <p>{{ plato.restaurante }}</p>
      <h3>Descripción: </h3>
      <p>{{plato.descripcion}}</p>
      <h3>Ingredientes: </h3>
      <div *ngFor="let ing of plato.ingredientes" >
        <input type="checkbox">
        <label for="">{{ing| uppercase}}</label>
        
      </div>
    </div>
  </div>
</div>