<section class="cesta">
    <h2>Cesta</h2>
    <ul>
        <li *ngFor="let plato of listaCesta">
            <h4>{{plato.nombre}}</h4>
            <div id="detalles">
                <p>Precio: {{plato.precio}} €</p>
                <p>Restaurante: {{plato.restaurante}}</p>
            </div>

        </li>
    </ul>
    <div id="precio">
        <h3>Precio total: {{precioTotal.val | number: '1.2'}} €</h3>
    </div>
    <button class="btnCesta">Comprar</button>
    <button class="btnCesta" (click)="outCesta()">Cerrar</button>
</section>