.cesta {
    /* width: 80%; */
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 20pt;
    border: 4px #566573 solid;
    position: absolute;
    top: 200px;
    padding: 20px;
}

li {
    list-style-type: none;
}

.cesta div {
    margin: 5px;
    color: pink;
}


/* .cesta p {
  text-align: center;
  padding: 20px;
  color: white
} */


/* @media (max-width:900px) {
  .cesta {
      top: 600px;
  }
} */