<div class="divTableCell">
	<div class="flipper" appHover>
		<div class="front">
			<h3>{{plato.nombre}}</h3>
			<img src="{{plato.foto}}">
			<div class="precio">
				<p>{{plato.precio | currency:'EUR'}}</p>
			</div>
		</div>
		<div class="back">
			<a routerLink="/detail/{{ plato._id }}">
				<h5>Descripción</h5>
				<p>{{plato.descripcion}}</p>
				<h5>Restaurante</h5>
				<p>{{plato.restaurante}}</p>
				<div class="precio">
					<p>{{plato.precio}}€</p>
				</div>
			</a>
		</div>
	</div> 
	<div id="añadir"> 
		<input id="cantidad" type="number" size="3" name="num" min="1" max="100" value="0"/>
		<button id="btnañadir" (click)="agregar_Cesta(plato)"></button>
	</div>
</div>
