
.marcked{
	font-weight: bold;
}

.hovered{
	transform: scale(1.05);
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	transition: .5s all;
	z-index: 1000;
}

 div.divTableCell {
  width: 260px;
  height: 260px;
  perspective: 1000px;
  display: inline-block;
  margin-bottom: 15px;
  text-align: center;
}

 div.front {
  text-align: center;
  width: 85%;
  z-index: 2;
  transform: rotateY(0deg);
}


.precio{
  font-size: 14px;
  font-weight: bold;
}

 .divTableCell:hover .flipper,
.divTableCell.hover .flipper {
  transform: rotateY(180deg);
  background-color: #f5f5f5;
  border-radius: 5px;
  height: 80%;
  text-align: center;
}

 .flipper {
  transition: 0.4s;
  transform-style: preserve-3d;
  position: relative;
  height: 80%;
  margin-bottom: 10px;
}

 .front,
.back {
  backface-visibility: hidden;
  position: absolute;
  padding: 10px;
  /*font-weight: normal;*/
}

.front p{
  font-size: 14px;
  bottom: 5px;
  color: #D35400;
}

.front img{
  height: 140px;
  width: 140px;
}

.front h3{
  height: 20px;
  color: #D35400;
}

 .back a:hover {
  text-decoration: none;
}

 .back {
  transform: rotateY(180deg);
  width: 260px;
  height: 230px;
  text-align: center;
}

 .back p {
  font-size: 12px;
  line-height: 1em;
  color: #D35400;
  margin: 15px;
}

.back h5{
	color: #D35400;
}

.back a{
	text-decoration: none;
}

button.añadir {
  background-image: url(../../assets/img/icono/carrito.png);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  outline: none;
  border: 0px;
  vertical-align: middle;
}
